@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
    --font-poppins: 'Poppins', sans-serif;
     --breakpoint-xs: 30rem;
}

@keyframes toast-in {
    from {
        transform: translateX(30px) scale(0.95);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes toast-out {
    from {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(30px) scale(0.95);
        opacity: 0;
    }
}

@layer utilities {
    .animate-toast-out {
        animation: toast-out 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    }
}

@layer utilities {
    .animate-toast-in {
        animation: toast-in 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    }
}

@keyframes slide-down {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@layer utilities {
    .animate-slide-down {
        animation: slide-down 0.5s ease-out;
    }
}
